#root {
  height: 100vh;
  height: 100dvh;
  background-color: rgb(240, 240, 240);
  padding: 2rem;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 3rem;
}

.list {
  display: block;
}

.list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;  
}

.btn-block {
    display: flex;
    flex-direction: row;
}

@media (min-width: 900px) {
  #root {
    flex-direction: row;
    gap: 8rem;
    justify-content: center;
    padding-top: 10rem;    
  }
}
