#root {
  padding: 2rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5rem;
}

.list-container {
  border: 1px green dashed;
  min-width: 30rem;
}

@media (min-width: 900px) {
  #root {
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
  }
}
